@import '../utils/variables';

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: $inter;
    background: #F8F7FA;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    margin-bottom: 0;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    outline: none;
}

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #d0d0d09c;
    border-radius: 100vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #d0d0d08b transparent;
    border-radius: 100vw;

}

/* SimpleBar fallback */
.simplebar-scrollbar::before {
    background-color: #d0d0d081;
    border-radius: 100vw;
}

/* Customize OverlayScrollbars scrollbar */
.os-scrollbar-handle {
    background: #d0d0d09c !important;
    /* Thumb color */
    border-radius: 100vw !important;
    /* Rounded corners */
}

.os-scrollbar-track {
    background: transparent !important;
    /* Track color */
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.custom-dropdown {
    position: relative;
    width: 48px;
}

.custom-dropdown::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 10.86px;
    color: #616161;

}

/* Custom dropdown button */
.custom-dropdown-button {
    width: 100%;
    text-align: center;
    border: 0.9px solid #E0E0E0;
    cursor: pointer;
    border-radius: 7.24px;
    padding: 7px 12px 7px 5px;
    font-family: Inter;
    font-weight: 400;
    font-size: 10.86px;
    line-height: 16.29px;
    letter-spacing: 0%;
    text-align: center;
    color: #616161;

}

/* Custom dropdown options */
.custom-dropdown-options {
    display: none;
    position: absolute;
    bottom: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    font-family: Inter;
    font-weight: 400;
    font-size: 10.86px;
    line-height: 16.29px;
    letter-spacing: 0%;
    text-align: center;
    color: #616161;
}

/* Custom dropdown option */
.custom-dropdown-option {
    padding: 8px;
    text-align: center;
    cursor: pointer;
}

/* Hover effect for options */
.custom-dropdown-option:hover {
    background-color: #f1f1f1;
}

/* Show options when dropdown is active */
.custom-dropdown.active .custom-dropdown-options {
    display: block;
}

.dropdown-menu {
    max-height: calc(100vh - 250px);
  
}