@import '../utils/variables';

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: $inter;
    background: #F8F7FA;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    margin-bottom: 0;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    outline: none;
}

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #d0d0d09c;
    border-radius: 100vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #d0d0d08b transparent;
    border-radius: 100vw;

}

/* SimpleBar fallback */
.simplebar-scrollbar::before {
    background-color: #d0d0d081;
    border-radius: 100vw;
}

/* Customize OverlayScrollbars scrollbar */
.os-scrollbar-handle {
    background: #d0d0d09c !important;
    /* Thumb color */
    border-radius: 100vw !important;
    /* Rounded corners */
}

.os-scrollbar-track {
    background: transparent !important;
    /* Track color */
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}