/* Hide the default checkbox */
.custom-checkbox input {
    opacity: 0;
    position: absolute;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #65558F;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
    cursor: pointer;
}

.disablecheckmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #A9A8AA;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
    cursor: pointer;
}

/* Style the checkmark when the checkbox is checked */
.custom-checkbox input:checked~.checkmark {
    background-color: #65558F;
}

.custom-checkbox input:checked~.disablecheckmark {
    background-color: #A9A8AA;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.disablecheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked~.checkmark:after {
    display: block;
}

.custom-checkbox input:checked~.disablecheckmark:after {
    display: block;
}

/* Style the checkmark */
.custom-checkbox .checkmark:after {
    // left: 6px;
    // top: 2px;
    left: 39%;
    top: 16%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-checkbox .disablecheckmark:after {
    // left: 6px;
    // top: 2px;
    left: 39%;
    top: 16%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.thCustom-checkbox .checkmark:after {
    width: 4px !important;
    height: 8px !important;
}

/* Hide default appearance */
.group-main-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #65558F;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;
}

/* Checked background */
.group-main-checkbox:checked {
    background-color: #65558F;
    border-color: #65558F;
}

/* Tick mark using :after */
.group-main-checkbox:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}