/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  margin-bottom: 0;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #D0D0D0;
  border-radius: 100vw;
  margin-right: 4px;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #D0D0D0 transparent;
}

/* SimpleBar fallback */
.simplebar-scrollbar::before {
  background-color: #D0D0D0;
  border-radius: 100vw;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.tabarea .tablink {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tabarea .tablink:hover {
  position: relative;
  color: #000000 !important;
}
.tabarea .tablink:hover::after {
  content: "";
  background: #4A59A7;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -3px;
  border-radius: 5px;
  left: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tabarea .active {
  position: relative;
  color: #000000 !important;
}
.tabarea .active::after {
  content: "";
  background: #4A59A7;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -3px;
  border-radius: 5px;
  left: 0;
}

.month {
  padding-bottom: 18px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  border-bottom: 0.69px solid #A3A3A6;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: #B3B3B3;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  cursor: pointer;
  height: 40px;
  width: 40px;
  float: left;
  padding-top: 4px;
  border: 0.6px solid #CBCBCB;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.month .prev:hover {
  background: rgba(101, 127, 245, 0.2);
  color: #000000;
}

.month .next {
  cursor: pointer;
  height: 40px;
  width: 40px;
  float: right;
  padding-top: 4px;
  border: 0.6px solid #CBCBCB;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.month .next:hover {
  background: rgba(101, 127, 245, 0.2);
  color: #000000;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ffffff;
}

.weekdays li {
  display: inline-block;
  width: 12.6%;
  color: #B3B3B3;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #ffffff;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #1B1B1B;
  height: 43px;
}

.days .prev-and-next-munth-date {
  color: #B3B3B3;
}

.days li .active {
  padding: 7px 12px 15px 12px;
  background: rgba(101, 127, 245, 0.2);
  color: #657FF5 !important;
  border-radius: 6px;
}

/* Add media queries for smaller screens */
@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
}
@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12.5%;
  }
}
@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12.2%;
  }
}
.side-bar {
  width: 170px;
  display: none;
}
.side-bar .menu {
  height: calc(100vh - 74px);
  overflow-y: auto;
}

.sidebarActive {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: block;
  height: 100vh;
}

.main-content {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

footer {
  position: sticky;
  bottom: 0;
}

.top_sections {
  gap: 25px;
}

.top_sections > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.topsection-items {
  height: 524px;
}

.my_leaveBalance .year-selector select {
  border: 0.9px solid #E0E0E0;
  background: #ffffff;
  border-radius: 5px;
  font-family: Inter;
  font-weight: 400;
  font-size: 10.86px;
  line-height: 16.29px;
  letter-spacing: 0%;
  text-align: center;
  padding: 5px 7px;
}

.bullet {
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.vr-line {
  height: 17px;
  width: 3px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: -3px;
}

@media (min-width: 768px) {
  .side-bar {
    width: 170px;
    display: block;
  }
  .main-content {
    width: calc(100% - 170px);
  }
}
.sidebar-link {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.sidebar-link:hover {
  background-color: #6A7AB7;
}

.header {
  background: url(../images/dashboard/topbar_bg.png) no-repeat 0 0/100% 100%;
  padding: 15px;
}
.header .notification-btn {
  border-radius: 50%;
  height: 27px;
  width: 27px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header .notification-btn:hover {
  background: #4A59A7;
}
.header .profiledetails {
  border-radius: 5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header .profiledetails:hover {
  background: #4A59A7;
}

.my_attendance .calendars .days .general-do {
  position: relative;
}
.my_attendance .calendars .days .general-do::after {
  position: absolute;
  bottom: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 7px;
  width: 7px;
  content: " ";
  background: #FC5A5A;
  border-radius: 50%;
}
.my_attendance .calendars .days .general-na {
  position: relative;
}
.my_attendance .calendars .days .general-na::after {
  position: absolute;
  bottom: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 7px;
  width: 7px;
  content: " ";
  background: #00B445;
  border-radius: 50%;
}