.changeRolecheckbox_area {
    span {
        margin-top: -3px !important;
    }
}

.selecttoSup {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.7px;
    letter-spacing: -0.6%;
    vertical-align: middle;
    color: #0a0a0a;
    margin-bottom: 15px;
}

.selecttochangelist {
    box-shadow: 0px 0px 3px 0px #00000040;
    border-radius: 8px;
    padding: 16px 25px;
    overflow-y: auto;
    max-height: 226px;

    ul {
        li {
            margin-bottom: 10px;

            .custom-radio {
                border: 2px solid #0a0a0a;
                margin-right: 10px;
            }

            label {
                font-family: Inter;
                font-weight: 400;
                font-size: 12px;
                line-height: 22.7px;
                letter-spacing: -0.6%;
                color: #0a0a0a;
            }

            &:last-child {
                margin-bottom: none;
            }
        }

    }
}

.changeTypearea {
    li {
        margin-bottom: 10px;

        .custom-radio {
            border: 2px solid #0a0a0a;
            margin-right: 10px;
        }

        label {
            font-family: Inter;
            font-weight: 400;
            font-size: 12px;
            line-height: 22.7px;
            letter-spacing: -0.6%;
            color: #0a0a0a;
        }

        &:last-child {
            margin-bottom: none;
        }
    }
}

.checkcondition {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 22.7px;
    letter-spacing: -0.6%;
    vertical-align: middle;
    color: #4A59A7;
    margin-bottom: 0;
}

.employeename {
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 22.7px;
    letter-spacing: -0.6%;
    color: #FC5A5A;
    margin-bottom: 0;
}

.ifSelectbox {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 22.48px;
    letter-spacing: -0.6%;
    vertical-align: middle;
    color: #000000;
    text-align: left;
}

.showSupervorser_number_counter_number {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.company_and_mobile_logo {
    width: 334px;
}

.statusUp {
    background: #00B445;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.statusDown {
    background: #FC5A5A;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.basicCheckmark {
    height: 15px !important;
    width: 15px !important;

    &::after {
        left: 36% !important;
        top: 0% !important;
    }
}

.basiccustom-checkbox {
    font-family: Inter;
    font-weight: 500;
    font-size: 13px;
    line-height: 22.48px;
    letter-spacing: -0.6%;
    vertical-align: middle;
    color: #000000;
}

.validate_list_area {
    p {
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 22.7px;
        letter-spacing: -0.6%;
        color: #0A0A0A;
    }
}

.modal-title {

    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;

}

.fs-14 {
    font-size: 14px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fw-medium {
    font-weight: 500 !important;
}

@media (max-width:992px) {
    .company_and_mobile_logo {
        width: 48%;

        .profile_image_box {
            max-width: unset;
        }
    }
}

@media (max-width:768px) {
    .company_and_mobile_logo {
        width: 100%;

        .profile_image_box {
            max-width: unset;
        }
    }
}

@media (max-width:420px) {}