.authpage {
    background: url(../images/singinbg.png) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}



.formCard {
    max-width: 512px;
    width: 100%;
    padding-bottom: 40px !important;

    h2 {
        margin-top: 10px;
    }
}

// .authpageTitle {
//     h1 {
//         font-size: 40px;
//     }

//     a {
//         font-size: 40px;
//     }
// }

@media (min-width: 768px) {
    .authpage {
        // height: 100vh;
        background-size: 100% 100%;
    }

    .form_area {
        padding-left: 10%;
    }

    .formCard {}
}

@media (min-width: 1080px) {


    // .authpage {
    //     .logo {
    //         margin-bottom: 14% !important;
    //         display: block;
    //     }
    // }

    .authpageTitle {
        padding-left: 83px;
    }
}

@media (min-height: 992px) {


    .authpage {
        .logo {
            margin-bottom: 14%;
            display: block;
        }
    }

}

@media (max-height: 992px) {


    .authpage {
        .logo {
            margin-bottom: 5%;
            display: block;
        }
    }

}

@media screen and (min-height: 767px) and (max-height: 880px) {

    .authpage {
        .logo {
            // margin-bottom: 60px !important;
            display: block;
        }
    }
}

@media (max-height: 767px) {

    .authpage {
        .logo {
            margin-bottom: 40px !important;
            display: block;
        }
    }
}

@media (max-width: 768px) {




    .authpageTitle {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}