.guidlinetext{
    font-family: Inter;
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #4A59A7;
span{
    font-weight: 600;
}
}
.formatdownloadbtn{
    font-family: Inter;
font-weight: 600;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-offset: 0%;
text-decoration-thickness: 0%;
text-decoration-skip-ink: auto;
color: #3A57E8;
}