.filteringKeyword {
    margin-top: 18px;

    ul {
        column-gap: 8px;
        row-gap: 8px;
        padding-left: 0;
        flex-wrap: wrap;

        li {
            button {
                font-family: Inter;
                font-weight: 400;
                font-size: 11.11px;
                line-height: 16.66px;
                letter-spacing: 0%;
                text-align: center;
                color: #000000;
                width: 28px;
                height: 29px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0.93px solid #E0E0E0;
                background: #ffffff;
                text-transform: capitalize;
                border-radius: 8px;
                transition: all 0.3s ease;

                &:hover {
                    background: #4A59A7;
                    color: #ffffff;
                    border: none;
                }
            }

            .active {
                background: #4A59A7;
                color: #ffffff;
                border: none;
            }

            &:last-child {
                button {
                    width: unset;
                    height: unset;
                    background: none;
                    border: none;

                    &:hover {
                        background: none;
                        color: #4A59A7;
                    }

                }

                .active {
                    background: none !important;
                    color: #4A59A7 !important;
                    border: none;
                }
            }
        }
    }
}

.employeestatus {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #0A7E22;
    background: #C2FFCF;
    border-radius: 2px;
    padding: 2px 8px;
}

.tabarea .user-role-area .active::after {
    background: none !important;
}

.employeeotherlinklist {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;

    li {
        a {
            font-family: Inter;
            font-weight: 600;
            font-size: 14px;
            line-height: 125%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #0058CB;

            &:hover {
                color: #4A59A7;
            }
        }
    }
}

.noteformandatory {
    margin-bottom: 0;
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 175%;
    letter-spacing: 0%;
    color: #4A59A7;
}

.optional_description {
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 22.48px;
    letter-spacing: -0.6%;
    vertical-align: middle;
    color: #4A59A7;
}

.extra_references_area {
    h3 {
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 22.7px;
        letter-spacing: -0.6%;
        vertical-align: middle;
        margin-bottom: 0;
        color: #0A0A0A;
    }
}

@media (max-width: 576px) {
    .user-role-area {
        width: 100%;
    }

    .employeeotherlinklistarea {
        flex-direction: column-reverse !important;
        row-gap: 15px;
    }
}

@media (max-width: 420px) {
    .employeeotherlinklist {
        align-items: center;
        justify-content: center;
        column-gap: 3px;

        li {
            // &:nth-child(even) {
            //     display: none;
            // }
        }
    }

    .font-small {
        font-size: 12px;
    }
}

@media (max-width: 374px) {
    .employeeotherlinklist {
        align-items: center;
        justify-content: center;
        column-gap: 3px;

        li {
            a {
                font-size: 12px;
            }
        }
    }
}