.header {
    z-index: 999999999999999999999999999999;

    .headerProfileDropdown {
        width: 250px;
        display: none;
    }
}

.side-bar {
    width: 170px;
    display: none;

    .menu {
        height: calc(100vh - 74px);
        overflow-y: auto;
        overflow-x: visible !important;
        padding-bottom: 100px;
    }

    .dropdown-menu {
        z-index: 1000;
        /* Bring dropdown to the front */
        position: absolute;
        /* Ensure it's positioned correctly */
    }

    .sidebarItem {
        position: static !important;
    }


}



.sidebarActive {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: block;
    height: 100vh;
}

.main-content {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.menu {
    width: 170px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: visible;
    position: relative;
}

.sidebar-link-items {
    position: relative;
    z-index: 1;
}

.sidebar-submenu {
    position: absolute;
    background: #ffffff;
    // width: 200px;
    display: none;
    overflow-y: auto;
    // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15) !important;
    /* Top, right, bottom shadow */
    /* If you want to customize the shadow more: */
    //  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0,0,0,0.15) !important; 
    /*top, bottom right*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 2px 0 5px rgba(0, 0, 0, 0.25) !important;
    /* bottom and right*/
}







footer {
    position: fixed;
    bottom: 0;
    width: 100%;

}

.top_sections {
    gap: 25px;
    flex-wrap: wrap;
}

.top_sections>* {
    flex: 1 1 31.5%;
    /* Each item will take up roughly 1/3 of the row */
    max-width: 31.5%;
    /* Ensure each item doesn't exceed 1/3 of the row */
    box-sizing: border-box;
    /* Include padding and border in the element's total width */
}

.section-items {
    height: 524px;
}



.my_leaveBalance {
    .year-selector {
        select {
            border: 0.9px solid #E0E0E0;
            background: $white;
            border-radius: 5px;
            font-family: Inter;
            font-weight: 400;
            font-size: 10.86px;
            line-height: 16.29px;
            letter-spacing: 0%;
            text-align: center;
            padding: 5px 7px;
        }
    }
}

.bullet {
    height: 14px;
    width: 14px;
    border-radius: 50%;

}

.vr-line {
    height: 17px;
    width: 3px;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: -3px;

}

.announcement-list {
    .items {
        .announcement-icon {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
        }

        &:nth-child(odd) {
            .announcement-icon {
                background: #E1F1FE;
            }



        }

        &:nth-child(even) {
            .announcement-icon {
                background: #FEF0F0;
            }



        }
    }
}

.list_icon {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    width: 41px;
}

.holiday-list {
    .items {
        border-bottom: 0.5px solid #DADADA;

        &:last-child {
            border-bottom: 0;
        }

    }

}

.holidayMenu {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 28px;
    margin-top: 10px;

    li {
        button {
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 1%;
            text-align: center;
            color: #8E8E93;
            position: relative;
            transition: all 0.3s ease;

            &:hover {
                color: #000000;

                &::after {
                    content: '';
                    background: #4A59A7;
                    height: 2px;
                    width: 40%;
                    position: absolute;
                    bottom: -5px;
                    left: 5px;

                }
            }
        }
    }

    .holidayActive {
        color: #000000;
        position: relative;
        transition: all 0.3s ease;

        &::after {
            content: '';
            background: #4A59A7;
            height: 2px;
            width: 40%;
            position: absolute;
            bottom: -5px;
            left: 5px;
        }



    }

}

.optionalHoliday {
    display: none;
}

.season-selector {
    select {
        border: 0.9px solid #E0E0E0;
        background: $white;
        border-radius: 5px;
        font-family: Inter;
        font-weight: 400;
        font-size: 10.86px;
        line-height: 16.29px;
        letter-spacing: 0%;
        text-align: center;
        padding: 5px 7px;
    }
}

.unmarked {
    background: #C2FFCF;
    color: #0A7E22;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    padding: 3px 5px;
    border-radius: 4px;


}

.na {
    background: #FFD8D8;
    color: #FF3C3C;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    padding: 3px 5px;
    border-radius: 4px;


}

.dayof {
    background: #FFDEBD;
    color: #F67B00;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    padding: 3px 5px;
    border-radius: 4px;


}

.pagination_area {
    ul {
        li {
            a {
                font-family: Inter;
                font-weight: 400;
                font-size: 10.86px;
                line-height: 16.29px;
                letter-spacing: 0%;
                text-align: center;
                color: #616161;
                transition: all 0.4s ease;
                border-radius: 6px;

                &:hover {
                    color: $white;
                    background: #4A59A7;
                }
            }

            small {
                font-family: Inter;
                font-weight: 400;
                font-size: 12.67px;
                line-height: 19px;
                letter-spacing: -0.6%;
                text-align: center;
                color: #404040;

            }

            span {
                font-family: Inter;
                font-weight: 400;
                font-size: 12.86px;
                line-height: 16.29px;
                letter-spacing: 0%;
                text-align: center;
                color: #616161;
                padding: 8px 12px;
                border: 0.9px solid #E0E0E0;
                border-radius: 5px;

            }

            p {
                font-family: Inter;
                font-weight: 400;
                font-size: 12.67px;
                line-height: 19px;
                letter-spacing: -0.6%;
                text-align: center;
                color: #4A59A7;
                margin-bottom: 0;
            }

            select {
                font-family: Inter;
                font-weight: 400;
                font-size: 10.86px;
                line-height: 16.29px;
                letter-spacing: 0%;
                text-align: center;
                color: #616161;
                background: none;
                padding: 8px;
                border: 0.9px solid #E0E0E0;
                border-radius: 5px;
            }
        }
    }
}

.tabs-title {
    font-size: 20px;
}

@media (min-width:768px) {
    .side-bar {
        width: 170px;
        display: block;
    }

    .main-content {
        width: calc(100% - 170px);
    }

    footer {
        width: calc(100% - 170px);
    }
}

.sidebar-link {
    transition: all .4s ease;

    &:hover {
        background-color: #6A7AB7;
    }
}

.header {
    background: url(../images/dashboard/topbar_bg.png) no-repeat 0 0 / 100% 100%;
    padding: 14px;

    .notification-btn {

        border-radius: 50%;
        height: 40px;
        width: 40px;
        transition: all 0.4s ease;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: $blue;
        }
    }

    .profiledetails {

        border-radius: 5px;

        transition: all 0.4s ease;

        &:hover {
            background: $blue;
        }
    }
}

.announcement-list {
    .items {
        border-radius: 10px;
        transition: all 0.3s ease;

        &:hover {
            background: rgba(172, 180, 245, 0.2);
        }
    }
}

.todolistitemssection {
    &:nth-child(even) {
        .todosubtitle {
            border-left: 1.5px solid #00B445;
        }
    }

    &:nth-child(odd) {
        .todosubtitle {
            border-left: 1.5px solid #4A59A7;
        }
    }
}

.todoitems {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    cursor: pointer;
}

.todosubtitle {
    padding-left: 9px;
    margin-top: 10px;
    margin-left: 13px;


    li {
        font-family: Inter;
        font-weight: 300;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;
        margin-bottom: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        button {
            font-family: Poppins;
            font-weight: 700;
            font-size: 9px;
            line-height: 125%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #FFFFFF;
            background: #4A59A7;
            border-radius: 5.27px;
            padding-top: 7px;
            padding-right: 10px;
            padding-bottom: 7px;
            padding-left: 10px;

        }
    }
}

.todoMoredetails {
    .modal-body {
        h3 {
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
            margin-bottom: 14px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-family: Inter;
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #4A59A7;

            }
        }
    }
}

.announcementDialogue {
    .modal-body {
        h1 {
            font-family: Inter;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
        }

        h2 {
            font-family: Inter;
            font-weight: 500;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
        }

        small {
            font-family: Inter;
            font-weight: 600;
            font-size: 8px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #AEAEB2;
        }
    }
}

.my_attendance {
    .calendars {
        .days {


            .general-do {
                position: relative;

                &::after {
                    position: absolute;
                    bottom: 16px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 7px;
                    width: 7px;
                    content: ' ';
                    background: #FC5A5A;
                    border-radius: 50%;
                }
            }

            .general-na {
                position: relative;

                &::after {
                    position: absolute;
                    bottom: 16px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 7px;
                    width: 7px;
                    content: ' ';
                    background: #00B445;
                    border-radius: 50%;
                }
            }
        }
    }
}

.dropdownFilteritems {
    cursor: pointer !important;

    label {
        cursor: pointer;
    }

    input {
        cursor: pointer;
    }

    &:hover {
        color: #000000 !important;
    }
}

.updatedatetext {
    font-family: Inter;
    font-weight: 400;
    font-size: 9.26px;
    line-height: 125%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #8E8E93;
    margin-bottom: 0;

}

.apexcharts-toolbar {
    display: none;
}

.apexcharts-legend {
    display: none !important;
}

@media (max-width: 1400px) {
    .tabs-title {
        font-size: 18px;
    }
}

@media (max-width: 1280px) {
    .tabs-title {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .tabs-title {
        font-size: 14px;
    }
}

@media (max-width: 1150px) {
    .tabs-title {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    .tabs-title {
        font-size: 16px;
    }
}

@media (max-width: 540px) {
    footer {
        font-size: 10px !important;
    }

}

.attendanceReporttext {
    height: 220px;
    width: 220px;

    h2 {
        font-size: 1.25rem;
    }

}

@media (max-width: 481px) {
    .attendanceReporttext {
        height: 166px;
        width: 190px;

        h2 {
            font-size: .75rem;
        }
    }

}



@media (min-width: 768px) {
    .side-bar {


        .menu {

            padding-bottom: 20px !important;
        }
    }

    .chart_items {
        height: 600px;
    }


}

.rosterUpdatemenu {
    &:hover {
        .subdrpdownActive {
            display: block;
            width: 100%;
            padding: .25rem 1rem;
            padding-right: 1rem;
            padding-left: 1rem;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            text-decoration: none;
            white-space: nowrap;
            border: 0;
            position: absolute;
            inset: 0px auto auto 0px;
            margin: 0px;
            transform: translate(193px);
            margin-left: -5px !important;
        }
    }
}

@media (max-width: 768px) {
    .subdrpdownActive {
        transform: unset !important;
        inset: unset !important;
        clear: unset !important;
        margin-top: -5px !important;
        margin-left: 0px !important;
    }
}