.enter_code_only{
    font-family: Inter;
font-weight: 400;
font-size: 8px;
line-height: 22.7px;
letter-spacing: -0.6%;
vertical-align: middle;
color: #000000;
}
.requestedMark{
    font-family: DM Sans;
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
color: #FF8A14;
background: #FF8A143D;
padding: 2px 8px;
border-radius: 3px;
}
.cancelMark{
    font-family: DM Sans;
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
color: #009FD9;
}
@media (max-width: 376px) {
    .myleaveBalance_header{
        font-size: 1rem !important;
    }
    .leaveItem_title{
        font-size: .775rem !important;
    }
    .totalLeaves_balance{
        font-size: .775rem !important;
    }
}