.enter_code_only {
    font-family: Inter;
    font-weight: 400;
    font-size: 8px;
    line-height: 22.7px;
    letter-spacing: -0.6%;
    vertical-align: middle;
    color: #000000;
}

.requestedMark {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #FF8A14;
    background: #FF8A143D;
    padding: 2px 8px;
    border-radius: 3px;
}

.cancelMark {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #009FD9;
}

.employee_leave_details_list {

    li {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        span {
            font-family: Inter;
            font-weight: 500;
            font-size: 14px;
            line-height: 22.48px;
            letter-spacing: -0.6%;
            vertical-align: middle;
            color: #000000;
            text-align: left;
            width: 160px;
            display: block;

            &:last-child {
                font-family: Inter;
                font-weight: 300;
                font-size: 14px;
                line-height: 22.48px;
                letter-spacing: -0.6%;
                vertical-align: middle;
                color: #000000;
                text-align: left;
            }
        }
    }

}

@media (max-width: 376px) {
    .myleaveBalance_header {
        font-size: 1rem !important;
    }

    .leaveItem_title {
        font-size: .775rem !important;
    }

    .totalLeaves_balance {
        font-size: .775rem !important;
    }
}