.adminDashbordCardtitle {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #202224;
    opacity: 70%;
}

.adminDashbordCardtitlecountNUmber {
    font-family: Inter;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #202224;
    opacity: 70%;
}

.card_image_box {
    height: 60px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
}

.bg-purple {
    background: rgba(130, 128, 255, 0.21);

}

.bg-orange {
    background: #ffac8021;

}

.bg-green {
    background: #4AD99121;

}

.bg-dark-orange {
    background: #ffac8030;

}

.bg-yellow {
    background: #FEC53D21;
}

.card_icon_box {
    border-right: 1px solid #E5E5EA;
    padding-right: 5px;
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 118px;
        height: 82px;
    }
}

.addtopicLink {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.6%;
    color: #4A59A7;
    text-align: left;


}

.assignEmployeecount {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.6%;
    color: #000000;

    span {
        font-family: Inter;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: -0.6%;
        color: #4A59A7;
    }
}

.onlineornot {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 13.08px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    background: #FFDEBD;
    color: #F67B00;
    padding: 4px 10px;
    border-radius: 2px;
}

.onlinepersonCounter {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 13.08px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    background: #D5BDFF;
    color: #9C00F6;
    padding: 4px 8px;
    border-radius: 2px;
}

.addcourse_type_changer {
    button {
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 22.48px;
        letter-spacing: -0.6%;
        color: #8E8E93;
        padding: 3px 10px;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: #5A6185;
            color: #ffffff;
        }
    }

    .active {
        background: #5A6185;
        color: #ffffff;
    }
}

.activeCoursearea {
    display: block;
}

.addResource {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 13.08px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    background: #F67B00;
    color: #ffffff;
    padding: 7px 10px;
    border-radius: 2px;
}

.showResource {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 13.08px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    background: #00B445;
    color: #ffffff;
    padding: 7px 10px;
    border-radius: 2px;
}

.questionBtn {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 13.08px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    background: #4A59A7;
    color: #ffffff;
    padding: 7px 10px;
    border-radius: 2px;
}

.bg-green {
    background: #00B445 !important;
}

.lookdetails {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #4A59A7;
    background: #0048B454;
    padding: 5px 10px;
    border-radius: 3px;
}

.fs-10 {
    font-size: 10px !important;
}

.failStatus {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #FF3C3C;
    background: #FFD8D8;
    padding: 7px 10px;
    border-radius: 3px;
}

.passStatus {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #00B445;
    background: #46B0002B;
    padding: 7px 10px;
    border-radius: 3px;
}

@media (max-width: 370px) {
    .card_icon_box img {
        width: 92px;
        height: 58px;
    }
}