.progressline {


    hr {
        color: #4A59A7;
        height: 2px;
        opacity: 1;
        margin-left: 27px;
        margin-right: 66px;
    }

    .progressStepbox_area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -30px;
        width: 100%;

        .incompleteprogressbox {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            background: #4A59A7;
            border: 1px solid #4A59A7;
        }

        .completeprogressbox {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            background: #4A59A7;
            border: 4px solid #CAD3FF;
        }
    }
}

.progresstext {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
}

.guidlineSeemoreBtn {
    height: 24px;
    width: 24px;
    padding: 0 !important;
    transition: all 0.5s ease;
}

.rotated90 {
    transform: rotate(180deg);
    transition: all 0.5s ease;
}

.guidlineItems {
    display: none;
}

.totalweightagearea {
    h1 {
        font-family: Inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 22.48px;
        letter-spacing: -0.6%;
        vertical-align: middle;
        color: #000000;
    }

    .totalweightageBox {
        font-family: DM Sans;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        color: #F2F2F7;
        background: #8E8E93;
        padding: 2px 10px;
        border-radius: 20px;
        margin-top: 4px;
    }
}

.weightage_details_item {
    border: 1px solid #E5E5EA;
    border-radius: 4px;

    .weightage_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: #F3F5FF;
        border-bottom: 1px solid #D1D1D6;
        padding: 10px 16px;

        h1 {
            font-family: Inter;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
        }
    }

    .weightage_body {
        background: #ffffff;
        padding: 10px 16px 10px 32px;

        ul {
            padding: 30px 0;
            list-style: decimal;

            li {
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #000000;
            }
        }
    }

    .weightage_footer {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
        background: #F3F5FF;
        border-top: 1px solid #D1D1D6;
        padding: 10px 16px;
        column-gap: 10px;
    }
}

.instructionslist {
    list-style: disc;

    li {
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0%;
        color: #000000;
    }
}

.feedbackBox {
    background: #F2F2F7;
    border-radius: 2px;
    padding: 10px;

    h2 {
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;
        margin-bottom: 10px;

        span {
            color: #8E8E93;
        }
    }

    ul {
        padding-left: 11px;
        padding-bottom: 15px;

        li {
            list-style-type: decimal;
            font-family: Inter;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0%;
            color: #000000;
        }
    }
}

.originalGoalstatus {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #0A7E22;
    background: #C2FFCF;
    padding: 5px 10px;
    border-radius: 4px;
}

.coreDownloadtext {
    span {
        font-family: Inter;
        font-weight: 500;
        font-size: 14px;
        leading-trim: Cap height;
        line-height: 125%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #000000;
    }

    a {
        font-family: Inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 125%;
        letter-spacing: 0%;
        text-decoration-skip-ink: auto;
        color: #4A59A7;
        text-decoration: underline;
    }
}

.yearendtabbuttonarea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    padding-bottom: 20px;
    border-bottom: 0.9px dashed #D2D2D2;

    button {
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 22.48px;
        letter-spacing: -0.6%;
        color: #8E8E93;
        border-radius: 3px;
    }

    .active {
        background: #5A6185;
        color: #ffffff;
        padding: 2px 7px;
    }
}

.expectionItems_header {
    border-bottom: 1px solid #E5E5EA;
    background: #F3F5FF;

}

.supAssessmentShowBtn {
    height: 24px;
    width: 24px;
    padding: 0 !important;
    transition: all 0.5s ease;
    flex-shrink: 0;
}

.supAssessmentShow {
    display: block !important;
}

.activeevaluationItems {
    display: block;
}

.completionProgressline {
    width: 100%;
    height: 5px;
    background: #E5E5EA;
    border-radius: 5px;
    margin-top: 7px;
}

.completionlistprogressfullline {
    width: 140px;
    height: 15px;
    background: #D9D9D9;

    .progressingFill {
        background: #00B445;
        height: 100%;
        text-align: center;
        font-family: Inter;
        font-weight: 400;
        font-size: 10px;
        letter-spacing: 0%;
        color: #ffffff;
    }
}

.backbtn {
    background: #ffffff;
    color: #4A59A7;
    border: 2px solid #4A59A7;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1400px) {
    .w-max-640 {
        max-width: 640px !important;
    }
}

@media screen and (max-width: 768px) and (min-width: 420px) {
    .w-cus-48 {
        width: 47% !important;
    }
}

@media (max-width: 575px) {
    .requestHistoryList li .historyDetails {
        padding: 0 0 20px 35px;
    }
}

@media (max-width: 500px) {
    .progresstext {
        font-size: 12px;
    }
}

@media screen and (max-width: 420px) {
    .w-cus-100 {
        width: 100% !important;
    }
}

@media (max-width: 414px) {
    .progressline .progressStepbox_area .incompleteprogressbox {
        height: 15px;
        width: 15px;
    }

    .progressline .progressStepbox_area .completeprogressbox {
        height: 15px;
        width: 15px;
    }

    .progressline .progressStepbox_area {
        margin-top: -25px;
    }

    .progresstext {
        font-size: 10px;
    }

    .progressline hr {
        margin-right: 49px;
    }
}

@media (max-width: 375px) {
    .mt-cus-0 {
        margin-top: 0 !important;
    }
}

@media (max-width: 360px) {
    .progresstext {
        font-size: 9px;
    }

    .progressline hr {
        margin-right: 45px;
    }
}

// @media (max-width: 640px) {

//     /* Base styles for small screens */
//     .breadcrumb {
//         flex-wrap: wrap;
//         padding: 0.5rem 0;
//         font-size: 14px;

//     }

//     .breadcrumb-item {
//         margin-bottom: 0.5rem;
//         position: relative;
//         padding-right: 1.5rem;
//     }

//     /* Style for the breadcrumb divider */
//     .breadcrumb-item+.breadcrumb-item::before {
//         content: var(--bs-breadcrumb-divider, "->");
//         padding: 0 0.5rem;
//         position: absolute;
//         left: 30px;
//         bottom: -14px;
//         color: #757575;
//         transform: rotate(90deg);

//     }

//     /* Dropdown button styles */
//     .breadcrumb-item button[data-bs-toggle="dropdown"] {
//         background: none;
//         border: none;
//         color: #333;
//         padding: 0.25rem 0px;
//         border-radius: 4px;
//         display: flex;
//         align-items: center;
//         font-size: inherit;
//     }

//     .breadcrumb-item button[data-bs-toggle="dropdown"] img {
//         margin-left: 0.25rem;
//         transition: transform 0.2s;
//     }

//     .breadcrumb-item.show button[data-bs-toggle="dropdown"] img {
//         transform: rotate(180deg);
//     }

//     /* Dropdown menu styles */
//     .breadcrumb-item .dropdown-menu {
//         position: absolute;
//         left: 0;
//         top: 100%;
//     }

//     .dropdown-item {
//         padding: 0.5rem 1rem;
//         white-space: normal;
//     }

//     .breadcrumb-item+.breadcrumb-item {
//         padding-left: 0 !important;
//     }

//     /* First level items */
//     .breadcrumb>.breadcrumb-item:nth-child(1) {
//         // flex-basis: 100%;
//         padding-right: 0;
//         display: block;
//         color: #000000 !important;
//     }

//     .breadcrumb>.breadcrumb-item:nth-child(1) button {
//      color: #000000 !important;
//  }

//     .breadcrumb>.breadcrumb-item {
//         display: none;
//     }

//     .breadcrumb>.breadcrumb-item:nth-child(1)::before {
//         content: var(--bs-breadcrumb-divider, "->");
//         padding: 0 0.5rem;
//         position: absolute;
//         right: -30px;
//         top: 50%;
//         transform: translateY(-50%) rotate(90deg);
//         color: #000000 !important;
//     }

//     /* Subsequent levels */
//     .breadcrumb>.breadcrumb-item:nth-child(n+2) {
//         flex-basis: 100%;
//     }

//     /* Last item styling */
//     .breadcrumb>.breadcrumb-item:last-child {
//         flex-basis: 100%;
//         padding-right: 0;
//     }

//     .breadcrumb>.breadcrumb-item:last-child::before {
//         display: none;
//     }

//     /* Hover effects */
//     .breadcrumb-item button[data-bs-toggle="dropdown"]:hover {
//         background-color: #f0f0f0;
//     }

//     .dropdown-item:hover {
//         background-color: #f8f9fa;
//     }
// }