.form-control{
    height: 42px;
}
.form-select{
    height: 42px;
}
.profileEditbtn{
    height: 25px;
    width: 25px;
    background: #E5E5EA;
    border-radius: 3px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.imageuploadnotice {
    font-family: Inter;
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #000000;
}
.imageuploadnotice span{
    font-family: Inter;
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #FC5A5A;
}

@media (max-width: 992px) {
    .profile_image_box{
        margin-bottom: 10px !important;
    }
}