.requestedStatus {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #14B8FF;
    background: #DDFCFF;
    padding: 5px 10px;
    border-radius: 3px;
}

.approvedStatus {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #00B445;
    background: #46B0002B;
    padding: 5px 10px;
    border-radius: 3px;
}

.claimApprovalDetailslist {
    li {
        span {
            font-family: Inter;
            font-size: 14px;
            line-height: 22.48px;
            letter-spacing: -0.6%;
            vertical-align: middle;
            color: #000000;
        }

        .title {
            font-weight: 500;
        }

        .dcontent {
            font-weight: 300;
        }
    }
}

.processconfirmationtext {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22.7px;
    letter-spacing: -0.6%;
    vertical-align: middle;
    color: #0A0A0A;
}

@media (max-width: 374px) {
    .processconfirmationtext {
        font-size: 16px;
    }
}