.resignationemployee_leave_details_list {
    li {
        span {
            width: 180px !important;
        }
    }
}

.notetext {
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #4A59A7;
    margin-top: 7px;
}