.recent_resum_card_area {
    height: 575px;
}

.recent_resum_cardHeader {
    border-bottom: 1px solid #DADADA;
    padding: 14px;

    h1 {
        font-family: Inter;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;
    }

    .cardToolBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 12px;

        li {
            button {
                font-size: 25px;
                color: #8E8E93;
            }
        }
    }
}

.jobItemsIconBox {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #E1F1FE;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 24px;
        width: 24px;
    }
}

.userIconBox {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #E1F1FE;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
        width: 100%;
    }
}

.recentOpenings {

    thead {
        position: relative;

        &::after {
            content: ' ';
            height: 1px;
            width: 100%;
            position: absolute;
            top: 100%;
            border-bottom: 1px dashed #DADADA;
        }
    }

    tr {
        vertical-align: middle;
        padding: 10px;
    }

    .jobDetails {
        a {
            color: #4A59A7;
            font-family: Inter;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            display: block;

        }

        ul {
            display: flex;
            column-gap: 5px;
            margin-top: 5px;
            padding-left: 0;

            li {
                font-family: Inter;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #8E8E93;

                span {
                    font-family: Inter;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #8E8E93;
                }

                .openStatus {
                    font-family: DM Sans;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #ffffff;
                    background: #00B445;
                    border-radius: 3px;
                    padding: 5px 10px;
                }
            }
        }
    }

    .userDetails {
        h1 {
            font-family: Inter;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;

            span {
                font-family: Inter;
                font-weight: 500;
                font-size: 10px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #4A59A7;
                margin-left: 5px;
            }
        }

        ul {
            display: flex;
            column-gap: 5px;
            margin-top: 7px;

            li {
                font-family: Inter;
                font-weight: 400;
                font-size: 10px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #8E8E93;

                .graduation {
                    color: #4AD991;
                }

                .file {
                    color: #8280FF;
                }

                .email {
                    color: #4A59A7;
                }

                .mobile {
                    color: #4A59A7;
                }

                .address {
                    color: #4A59A7;
                }
            }
        }
    }
}

.applicantImage {
    height: 35px;
    width: 35px;
    border-radius: 50%;

    img {
        height: 100%;
        width: 100%;
    }
}

.resum_area {
    height: 346px;
    width: 100%;
    border-radius: 10px;

    img {
        height: 100%;
        width: 100%;
    }
}

.addapplicantTablist {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 15px;

    li {
        button {
            font-family: Inter;
            font-weight: 400;
            font-size: 14px;
            line-height: 22.48px;
            letter-spacing: -0.6%;
            color: #8E8E93;
            padding: 3px 10px;
            border-radius: 5px;
        }

        .active {
            color: #ffffff;
            background: #5A6185;
        }
    }
}


.jobopeningFilterlist {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 15px;
    flex-wrap: wrap;
    row-gap: 15px;

    li {
        border: 1px solid #5A6185;
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 22.48px;
        letter-spacing: -0.6%;
        color: #5A6185;
        padding: 3px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .active {
        background: #5A6185;
        color: #ffffff;
    }
}

.javaTesterDetailsArea {
    padding: 10px;
    border: 0.75px solid #EDEDED;
    border-radius: 6px;
    min-width: fit-content;
    width: 100%;

    ul {
        border-left: 0.75px solid #E0E0E0;
        padding-left: 10px;

        &:first-child {
            border-left: none;
        }

        li {
            font-family: Inter;
            font-weight: 500;
            font-size: 14px;
            line-height: 27.04px;
            letter-spacing: -2.1%;
            vertical-align: middle;
            color: #404040;
            text-wrap: nowrap;

            &:last-child {
                font-family: Inter;
                font-weight: 400;
                font-size: 11.62px;
                line-height: 13.52px;
                letter-spacing: 0%;
                color: #8E8E93;
            }
        }
    }
}

.applicantScreeningandleadgraph {
    .progress-ring-container {
        position: relative;
        width: 180px;
        height: 180px;
    }

    .progress-ring-background {
        fill: none;
        stroke: #f0f0f0;
        stroke-width: 20;
    }

    .progress-segment {
        transform-origin: center;
        transform: rotate(-90deg);
        transition: stroke-dasharray 0.5s ease;
        stroke-width: 20 !important;
    }

    .progress-ring-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .progress-percentage {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

    .progress-legend {
        display: flex;
        justify-content: stretch;
        gap: 10px;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .legend-item {
        display: flex;
        align-items: center;
        margin: 5px;
        font-size: 12px;

    }

    .legend-color {
        width: 12px;
        height: 12px;
        border-radius: 3px;
        margin-right: 5px;
        border-radius: 50%;
    }
}

.jobpostingLink_area {
    .jobpostinglinkHeader {
        background: #F3F5FF;
        border-bottom: 1px solid #E5E5EA;

        h1 {
            font-family: Inter;
            font-weight: 500;
            font-size: 14px;
            line-height: 22.48px;
            letter-spacing: -0.6%;
            vertical-align: middle;
            color: #000000;
        }

        .cardToolBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 12px;

            li {
                button {
                    font-size: 25px;
                    color: #8E8E93;
                }
            }
        }
    }

    .jobpostinglink {
        border-bottom: 1px solid #E5E5EA;

        a {
            background: #DFE4FF;
            font-family: DM Sans;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0px;
            text-align: center;
            color: #4A59A7;
            padding: 5px 10px;

        }
    }

    .applicationLink {
        border-bottom: 1px solid #E5E5EA;

        a {
            background: #C2FFCF;
            font-family: DM Sans;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0px;
            text-align: center;
            color: #0A7E22;
            padding: 5px 10px;

        }
    }
}

.titleExperienceLocationTable {
    thead {
        position: sticky;
        top: 0;
        background: #F3F5FF;
        z-index: 1;
    }
}

.applicantminingDatatable {
    tbody {
        tr {
            position: relative;

            &::after {
                content: ' ';
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                border-bottom: 0.9px dashed #D2D2D2;
            }

            td {
                padding: 10px !important;
            }
        }
    }
}

@media (max-width: 773px) {
    .jobopeningDescriptionarea {
        height: 301px !important;
    }
}

@media (max-width: 440px) {
    .recent_resum_cardHeader .cardToolBox li button {
        font-size: 17px;
    }

    .jobpostingLink_area .jobpostinglinkHeader .cardToolBox li button {
        font-size: 17px;
    }

    .recent_resum_cardHeader h1 {
        font-size: 16px;
    }
}

@media (max-width: 427px) {
    .jobopeningDescriptionarea {
        height: 337px !important;
    }
}